.loading-drip {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #dcc2a1;
    border-right-color: #584635;
    border-radius: 22px;
    -webkit-animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }